* {
  font-family: 'Montserrat', sans-serif;
}

/* OR more specifically */
body {
  font-family: 'Montserrat', sans-serif;
}

body,
input,
button,
textarea,
select,
div,
p,
h1, h2, h3, h4, h5, h6,
span,
a {
  font-family: 'Montserrat', sans-serif;
}